@import '../../scss/mixins';
@import '../../scss/variables';

.item {
  @include font-12-14-400;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 5px;
  align-items: center;
  background-color: $background;
  padding: 3px 0;
}

.button {
  @include button-reset;
  @include flex-row(center, center);
}
