@import '../../scss/mixins';

.root {
  @include font-12-14-400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'name name'
    'img temp'
    'text text'
    'wind pressure'
    'humidity dewPoint'
    'visibility none';
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

.name {
  font-weight: 600;
  grid-area: name;
  margin-bottom: 20px;
  padding-right: 50px;
}

.img {
  grid-area: img;
  margin: 0 auto;
  transform: rotate(var(--degree));
}

.temp {
  @include font-30-34-600;
  grid-area: temp;
}

.wind,
.pressure {
  @include flex-row(flex-start, center);
  column-gap: 10px;
}

.wind {
  grid-area: wind;
}

.text {
  grid-area: text;
  margin-top: 20px;
}

.pressure {
  grid-area: pressure;
}

.humidity {
  grid-area: humidity;
}

.dewPoint {
  grid-area: dewPoint;
}

.visibility {
  grid-area: visibility;
}
